@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --lightblue: #1992d4;
    --yellow: #f0b429;
    --lightgray: #cbd5e1;
    --gray: #4a4d52;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.menu {
    background-color: var(--lightblue);
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.maincontainer {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1.5rem auto);
    gap: 15px;
    padding: 30px;
    background-color: var(--lightgray);
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    grid-row: 2 / 5;
}

.project {
    border-left: 10px solid var(--yellow);
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
}

.project .icon {
    margin-left: 1vw;
}

.project :not(.projectbtns) {
    flex: 1;
}

.projectbtns {
    margin-left: auto;
    max-height: 15%;
}

.icon {
    height: 25px;
    width: 25px;
}

.profilepic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.header2 .profilepic {
    height: 75px;
    width: 75px;
}

header {
    padding: 10px 50px;
    font-weight: bold;
}

.header1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    margin-bottom: 20px;
}

label[for="search"] {
    display: flex;
    gap: 15px;
    align-items: center;
}

label[for="search"] input {
    flex: 1;
    max-width: 60%;
    border: none;
    border-radius: 10px;
    height: 25px;
    padding: 10px;
    background-color: #cbd5e1;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.header2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.welcomemsg {
    display: flex;
    gap: 20px;
    align-items: center;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--lightblue);
    color: white;
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: #0d5c86;
}

button:active {
    transform: scale(.95, .95);
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.profile {
    display: flex;
    gap: 15px;
}

.announcements {
    grid-row: 2 / 3;
    padding: 40px;
}

.trending {
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
}

main > h2 {
    margin: auto 0 0 0;
}

.project,
.announcements,
.trending {
    border-radius: 10px;
    background-color: white;
}

hr {
    margin: 20px 0;
}

p {
    color: var(--gray);
    margin-top: 5px;
}

.menu img {
    margin: 0 20px 0 10px;
    filter: invert(100%);
}

.menutitle {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 40px;
    font-size: 1rem;
}

.menutitle img {
    margin: 0;
    height: 40px;
    width: 40px;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.separate {
    margin-top: 60px;
}